@model IEnumerable<HMS.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Services </h1>
@if (Model.Count() == 0)
{
    <h3> There is no Orders yet ......</h3>
}

@if (Model.Where(s => s.Service_Type == "Clean Clothes").ToList().Count > 0)
{
    <h3>Clean Clothes</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room_NO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Date)
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        @foreach (var model in Model.Where(s => s.Service_Type == "Clean Clothes"))
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Room_NO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Date)
                    </td>
                    <td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Delete</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Details</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Edit</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

@if (Model.Where(s => s.Service_Type == "Clean Room").ToList().Count > 0)
{

    <h3>Clean Room</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room_NO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Date)
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        @foreach (var model in Model.Where(s => s.Service_Type == "Clean Room"))
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Room_NO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Date)
                    </td>
                    <td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Delete</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Details</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Edit</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

@if (Model.Where(s => s.Service_Type == "Drinks").ToList().Count > 0)
{
    <h3>Drinks</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room_NO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Date)
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        @foreach (var model in Model.Where(s => s.Service_Type == "Drinks"))
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Room_NO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Date)
                    </td>
                    <td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Delete</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Details</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Edit</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

@if (Model.Where(s => s.Service_Type == "Foods").ToList().Count > 0)
{

    <h3>Foods</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room_NO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Date)
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        @foreach (var model in Model.Where(s => s.Service_Type == "Foods"))
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Room_NO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Date)
                    </td>
                    <td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Delete</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Details</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Edit</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

@if (Model.Where(s => s.Service_Type == "Table Reservation").ToList().Count > 0)
{
    <h3>Table Reservation</h3>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room_NO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service_Date)
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        @foreach (var model in Model.Where(s => s.Service_Type == "Table Reservation"))
        {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Room_NO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => model.Service_Date)
                    </td>
                    <td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Delete</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Details</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.FirstOrDefault(s => s.Id == model.Id).Id">Edit</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}