@model HMS.Models.RoomViewModel

@{
    ViewData["Title"] = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservation</h1>

<div>
    <h4>RoomViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Charges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Charges)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.image)" class="img-thumbnail"
                 style="width:250px;height:250px;" />
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <form asp-action="Reservation" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <label type="text"><strong>Please Select DateOut</strong></label>
                    <br />
                    <input type="datetime-local" name="SelectedDate" class="form-control" />
                    <br />
                    <textarea name="description" rows="4" cols="50" placeholder="Add Some Description (option)"></textarea>
                    <input type="submit" value="Reservation" class="btn btn-success" asp-route-id="@Model.Id" />
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

