@model IEnumerable<HMS.Models.Reservation>

@{
    ViewData["Title"] = "returnReservationForCustomer";
}

<h1>This Your Rooms That's you had reserved them</h1>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div style="width:350px; background-color:#fcfcfc; padding:10px; margin-top:20px;">
                <img src="~/images/@Html.DisplayFor(modelItem => item.Room.image)" class="img-thumbnail"
                     style="width:330px;height:250px;" /><br />
                @Html.DisplayFor(modelItem => item.Room.number)<br />
                @Html.DisplayFor(modelItem => item.Room.Description)<br />
                @Html.DisplayFor(modelItem => item.Room.Type)<br />
                <strong> @Html.DisplayFor(modelItem => item.Room.Charges) $</strong><br />

                DateIn <strong>:</strong> @Html.DisplayFor(modelItem => item.DateIn)<br /><br />
                DateOut <strong>:</strong> @Html.DisplayFor(modelItem => item.DateOut)<br />
            </div>

        </div>
    }
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.image)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Charges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOut)
                </td>
                <td>
                    <img src="~/images/@Html.DisplayFor(modelItem => item.Room.image)" class="img-thumbnail"
                         style="width:150px;height:150px;" />
                </td>
            </tr>
        }
    </tbody>
</table>*@
